*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4EFEC;
    padding-top: 50px;
}

header{
    display: flex;
    justify-content: center;
}

header{
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

button{
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



.container{
    max-width : 960px;
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 100px;
    height: 600px;
    padding-bottom: 100px;
    background-color: #F4EFEC;
    border-radius: 20px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #91ccd5;
    width: 250px;
    padding: 16px;
    height: 300px;
    border-radius: 10px;
}

form input{
    background-color:#ffffff ;
    border:none;
    border-bottom: 2px solid #000000;
    font-size: 20px;
}

/* tabela------------------------------------------- */

table{
    width: 400px;   
    background-color: #9cc166;
    border-radius: 10px;
    border: 5px solid #000000;
}

th, td {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px;
    border-radius: 4PX;

}

.container-table {
    overflow-y: scroll;
    border: 5px solid #a1d4dc;
    border-radius: 5px;
    background-color: #91ccd5;

    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* --------------------------------------------------- */
.container-table::-webkit-scrollbar {
    width: 12px;             
}
.container-table::-webkit-scrollbar-track {
    background:#91ccd5;       
}
.container-table::-webkit-scrollbar-thumb {
    background-color: #DAC0A7;    
    border-radius: 20px;       
    border: 3px solid #F4EFEC; 
}

button{
    margin-top: 70px;
    background-color:#CAAA93 ;
    color: #ffffff;
    font-size: 16PX;    
}
button:hover{
    background-color: #cf8e60;
}